Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  performance-*,
  readability-*,
  -readability-magic-numbers
WarningsAsErrors: '*'
HeaderFilterRegex: '^(src|tests)/'
FormatStyle: file
CheckOptions:
  - key: modernize-use-trailing-return-type.MinTypeNameLength
    value: '0'
  - key: readability-identifier-length.MinimumVariableNameLength
    value: '1'
